<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Neighbourlytest"
        tools:targetApi="31">
        <activity
            android:name=".activites.UserList"
            android:exported="false" />
        <activity
            android:name=".activites.Donate0Activity"
            android:exported="false" />
        <activity
            android:name=".activites.FundOverview"
            android:exported="false" />
        <activity
            android:name=".activites.EditProfile"
            android:exported="false" />
        <activity
            android:name=".activites.DonationCategoryDescriptionLowFacilitySchools"
            android:exported="false" />
        <activity
            android:name=".activites.LoaderActivity"
            android:exported="false" />
        <activity
            android:name=".activites.DonationCategoryDescriptionLowIncomeFam"
            android:exported="false" />
        <activity
            android:name=".activites.DonationCategoryDescriptionElders"
            android:exported="false" />
        <activity
            android:name=".EditItemDonations"
            android:exported="false" />
        <activity
            android:name=".activites.EditFamilyActivity"
            android:exported="false" />
        <activity
            android:name=".activites.Profile"
            android:exported="false" />
        <activity
            android:name=".activites.Menu2"
            android:exported="false" />
        <activity
            android:name=".activites.Article"
            android:exported="false" />
        <activity
            android:name=".activites.DonationCategory"
            android:exported="false" />
        <activity
            android:name=".activites.ScrollActivity"
            android:exported="false" />
        <activity
            android:name=".activites.Menu"
            android:exported="false" />
        <activity
            android:name=".activites.MyArticles"
            android:exported="false" />
        <activity
            android:name=".activites.DonationCategoryDescriptionChildHouse"
            android:exported="false" />
        <activity
            android:name=".activites.FamilyList"
            android:exported="false" />
        <activity
            android:name=".activites.ItemDonationList"
            android:exported="false" />
        <activity
            android:name=".activites.Articles"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->


        <activity
            android:name=".activites.ThankYouActivity"
            android:exported="false" />
        <activity
            android:name=".activites.Donate2AddInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activites.DonateActivity"
            android:exported="false" />
        <activity
            android:name=".activites.ItemDonationActivity"
            android:exported="false" />
        <activity
            android:name=".activites.AddFamilyActivity"
            android:exported="false" />
        <activity
            android:name=".activites.EditArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activites.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activites.AddArticleActivity"
            android:exported="false" />
        <activity
            android:name=".activites.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".activites.TActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.AboutUsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.ResetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.RegisterActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activites.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>